/* Styles for StudentCard.js */
.Card {
    /* margin-bottom: 2%; */
    display: flex;
    flex-direction: row;
    /* border-bottom: 1px solid #DCE5E4; */
}

.Pic {
    width: 20%;
    border: #DCE5E4 solid .5px;
    border-radius: 90%;
    margin: 3%;
}

.Name {
    font-size: 40px;
    font-weight: bolder;
    text-transform: uppercase;
}

.Other-Info {
    margin-left: 6%;
    font-weight: bold;
    color: #4E6A67;
}


/* Styles for SearchForm.js */

.Form {
    border-bottom: 1px solid #DCE5E4;
}

.Input {
    margin-bottom: 1%;
    font-size: 20px;
    border: none;
    outline: none;
}

.Search-Card {
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    /* border-bottom: 1px solid #DCE5E4; */
    /* background-color: #F5F5F5; */
}

.Search-Pic {
    width: 20%;
    border: #DCE5E4 solid .5px;
    border-radius: 90%;
    margin: 3%;
}

.Search-Name {
    font-size: 40px;
    font-weight: bolder;
    text-transform: uppercase;
}

.Search-Other-Info {
    margin-left: 6%;
    font-weight: bold;
    color: #4E6A67;
}

/* Styles for GradesExpandable.js */

.Expand-Button {
    width: 12%;
    margin-bottom: 2%;
    margin-top: -3%;
    margin-left: 27.7%;
    border: 2px #C2C2C2 solid;
    border-radius: 5px;
    color: #4E6A67;
    font-size: 17px;
}

.Expand-Button:hover {
    background-color: #3D3D3D;
    color: white;
}

.Grades-Card {
    margin-bottom: 2%;
    margin-top: -1%;
    display: flex;
    flex-direction: column;
    /* border-bottom: 1px solid #DCE5E4; */
}

.Grade {
    margin-left: 28%;
    font-size: 14px;
    font-weight: bold;
    color: #4E6A67;
}

/* Styles for SearchGradesExpandable.js */

.Search-Expand-Button {
    width: 12%;
    margin-bottom: 2%;
    margin-top: -5%;
    margin-left: 27.7%;
    border: 2px #C2C2C2 solid;
    border-radius: 5px;
    color: #4E6A67;
    font-size: 17px;
}

.Search-Expand-Button:hover {
    background-color: #3D3D3D;
    color: white;
}

/* Styles for Tags.js */

/* .Tags-Form {
    border-bottom: 1px solid #DCE5E4;
} */

.Tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 24.5%;
    margin-top: -1%;
    width: 30%;
    list-style-type: none;
}

.Tag {
    padding: 6px;
    margin-right: 1%;
    margin-top: 1%;
    border: 2px #C2C2C2 solid;
    border-radius: 5px;
    color: #4E6A67;
    font-size: 17px;
}

.Tags-Input {
    margin-bottom: 1%;
    margin-left: 27.7%;
    font-size: 17px;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: #C2C2C2 solid;
}