/* Styles for StudentCard.js */
.Card {
    display: flex;
    flex-direction: row;
}

.Pic {
    width: 20%;
    border: #DCE5E4 solid .5px;
    border-radius: 90%;
    margin: 3%;
}

.Name {
    font-size: 40px;
    font-weight: bolder;
    text-transform: uppercase;
}

.Other-Info {
    margin-left: 6%;
    font-weight: bold;
    color: black;
}


/* Styles for SearchForm.js */

.Form {
    border-bottom: 1px solid #DCE5E4;
}

.Input {
    margin-bottom: 1%;
    font-size: 20px;
    border: none;
    outline: none;
    background: transparent;
    color: #161c1c;
    
}

.Input::placeholder {
    color: #161c1c;
}

.Search-Card {
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
}

.Search-Pic {
    width: 20%;
    border: #DCE5E4 solid .5px;
    border-radius: 90%;
    margin: 3%;
}

.Search-Name {
    font-size: 40px;
    font-weight: bolder;
    text-transform: uppercase;
}

.Search-Other-Info {
    margin-left: 6%;
    font-weight: bold;
    color: black;
}

/* Styles for GradesExpandable.js */

.Expand-Button {
    width: 12%;
    margin-bottom: 2%;
    margin-top: -3%;
    margin-left: 27.7%;
    border: 2px #C2C2C2 solid;
    border-radius: 5px;
    color: #4E6A67;
    font-size: 17px;
}

.Expand-Button:hover {
    background-color: #3D3D3D;
    color: white;
}

.Grades-Card {
    margin-bottom: 2%;
    margin-top: -1%;
    display: flex;
    flex-direction: column;
}

.Grade {
    margin-left: 28%;
    font-size: 14px;
    font-weight: bold;
    color: black;
}

/* Styles for SearchGradesExpandable.js */

.Search-Expand-Button {
    width: 12%;
    margin-bottom: 2%;
    margin-top: -5%;
    margin-left: 27.7%;
    border: 2px #C2C2C2 solid;
    border-radius: 5px;
    color: #4E6A67;
    font-size: 17px;
}

.Search-Expand-Button:hover {
    background-color: #3D3D3D;
    color: white;
}

