/* Styles for App.js */

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

.Main-Header {
  margin-left: 12%;
  margin-top: 1%;
  margin-bottom: 1%;
  font-weight: bolder;
  font-size: 60px;
  font-family: 'Bebas Neue', 'cursive';
  color: #db7d00;
  letter-spacing: 2px;
}

.Footer-Text {
  text-align: center;
  font-size: 15px;
  color: black;
  letter-spacing: 1px;
  margin-bottom: 1%;
}